services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    network_mode: host
    environment:
      - GENERIC_TIMEZONE=Europe/Paris
      - TZ=Europe/Paris
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
    volumes:
      - ./n8n_data:/home/node/.n8n
    restart: unless-stopped

  db:
    image: postgres:18
    restart: always
    env_file:
      - ./apps/api/.env
    ports:
      - 5432:5432
    volumes:
      - ./postgres_data/db:/var/lib/postgresql/data
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata

volumes:
  n8n_data:
  postgres_data:
