# SERVER
PORT=
CLIENT_URL=

# DATABASE
DATABASE_PASSWORD=
DATABASE_USERNAME=
DATABASE_NAME=
DATABASE_PORT=
DATABASE_URL=

# N8N
N8N_PORT=

# OPENAI
OPENAI_API_KEY=

# GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# CONFIG
ROOM_CALL_DURATION_MINUTE=
